<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image2">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Art</h1>
          <p>start date : 19 june 2020</p>
          <hr>
          <p>modules : 8</p>
          <hr>
          <p>Art is often considered the process or product of deliberately arranging elements in a way that appeals to the senses or emotions. It encompasses a diverse range of human activities,
             creations and ways of expression, including music, literature, film, sculpture and paintings</p>
          <button>Apply now</button>
          
        </div>
      </div>
      
    
</body>
</html>