<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image3">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Biology</h1>
          <p>start date : 16 june 2020</p>
          <hr>
          <p>modules : 9</p>
          <hr>
          <p>Biology is the branch of science dealing with the study of life. It describes the characteristics, classification, and behaviors of organisms, 
            how species come into existence, and the interactions they have with each other and with the environment</p>
          <button>Apply now</button>
          
        </div>
      </div>
      
    
</body>
</html>