<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image4">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Clinical Science</h1>
          <p>start date : 11 june 2020</p>
          <hr>
          <p>modules : 6</p>
          <hr>
          <p>Clinical science is a branch of medical science that ensures the effectiveness and safety of medicines and medical products. ... Students of clinical science programs are trained to subject 
              new medicines and medical products through extensive research and determine their usefulness and safety for the end user.</p>
          <button>Apply now</button>
          
        </div>
      </div>
      
    
</body>
</html>