<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image9">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Medical Science</h1>
          <p>start date : 12 june 2020</p>
          <hr>
          <p>modules : 9</p>
          <hr>
          <p>Design and conduct studies that investigate both human diseases and methods to prevent and treat them.
             Prepare and analyze medical samples and data to investigate causes and treatment of toxicity,</p>
          <button>Apply now</button>
          
        </div>
      </div>
      
    
</body>
</html>