<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image11">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Physics</h1>
          <p>start date : 15 june 2020</p>
          <hr>
          <p>modules : 8</p>
          <hr>
          <p>Physics is the study of the natural world. It deals with the fundamental particles of which the universe is made, 
            and the interactions between those particles, the objects composed of them (nuclei, atoms, molecules, etc) and energy.</p>
          <button>Apply now</button>
          
        </div>
      </div>
      
    
</body>
</html>