<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image1">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Anatomy</h1>
          <p>start date : 16 june 2020</p>
          <hr>
          <p>modules : 9</p>
          <hr>
          <p>Anatomy is the identification and description of the structures of living things. It is a branch of biology and medicine. ...
             Human anatomy is the study of the structures of the human body. An understanding of anatomy is key to the practice of health and medicine</p>
             <form action="courseRegister" method="get">
              <input type="hidden" name="course" value="Physics">
              <input type="submit" value="Register">
            </form>
          
        </div>
      </div>
      
    
</body>
</html>