<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image5">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Computer Science</h1>
          <p>start date : 16 june 2020</p>
          <hr>
          <p>modules : 8</p>
          <hr>
          <p>Computer Science is the study of computers and computational systems. Unlike electrical and computer engineers,
             computer scientists deal mostly with software and software systems; this includes their theory, design, development, and application</p>
             <form action="courseRegister" method="get">
              <input type="hidden" name="course" value="Physics">
              <input type="submit" value="Register">
            </form>          
        </div>
      </div>
      
    
</body>
</html>