<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image6">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Education</h1>
          <p>start date : 16 june 2020</p>
          <hr>
          <p>modules : 3</p>
          <hr>
          <p>Education is the process of facilitating learning, or the acquisition of knowledge,
             skills, values, beliefs, and habits</p>
             <form action="courseRegister" method="get">
              <input type="hidden" name="course" value="Physics">
              <input type="submit" value="Register">
            </form>          
        </div>
      </div>
      
    
</body>
</html>