<!DOCTYPE html>
<html lang="en">
<head>
  <title>Faculties</title>
	<meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="/javascript/js.js="></script>
</head>
  <body class="body">
    <header class="mainheader">
	    <div>
        <img src="images/schoolbag.webp" alt="schoolbag"> 
        <div>
            <center>
                <h1>Online School Registration</h1>
            </center>
        </div>
</div>

	  <nav>
      <ul>
        <li><a href="/">Home</a></li>
		  	<li><a href="faculty">Faculties</a></li>
        <li><a href="logout">Logout</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="faculty/myCourses">myCourses</a></li>
  			<li><a href="contact">Contact Us</a></li>	
        <content id="search">
          <form>
           <input type="text" name="search" placeholder="Search anything..." onclick="window.location.href='search.html'">
          </form>
        </content>
		  </ul> 
    </nav>
    
    <h1>Faculty of Science</h1>
    <div class="gallery">
      <a  href="faculty/physics">
        <img src="/images/Course/physics.jpg" alt="CCT101" width="300" height="200">
      </a>
      <div class="desc">Physics</div>
     
    </div>

    <div class="gallery">
      <a  href="faculty/gScience">
        <img src="/images/Course/geosc.jpg" alt="Html" width="300" height="200">
      </a>
      <div class="desc">Geoscience</div>
     
    </div>

    <div class="gallery">
      <a  href="faculty/compScience">
        <img src="/images/Course/cs.jpg" alt="Database" width="300" height="200">
      </a>
      <div class="desc">Computer Science</div>
      
    </div>

    <div class="gallery">
      <a  href="faculty/biology">
        <img src="/images/Course/biology.jpg" alt="Database" width="300" height="200">
      </a>
      <div class="desc">Biology</div>
      
    </div>
    <div id="fix"></div>

    <hr>
    <h1>Faculty of Health Science</h1>
    <div class="gallery">
      <a  href="faculty/clinical">
        <img src="/images/Course/cm.jpeg" alt="CCT101" width="300" height="200">
      </a>
      <div class="desc">Clinical Medicine</div>
      
    </div>


    <div class="gallery">
      <a  href="faculty/oral">
        <img src="/images/Course/oral.jpeg"" alt="Html" width="300" height="200">
      </a>
      <div class="desc">Oral Health Science</div>
      
    </div>

    <div class="gallery">
      <a  href="faculty/medical">
        <img src="/images/Course/path.jpg"" alt="Database" width="300" height="200">
      </a>
      <div class="desc">Medical Science</div>
      
    </div>

    <div class="gallery">
      <a  href="faculty/anatomy">
        <img src="/images/Course/ana.jpg"" alt="Database" width="300" height="200">
      </a>
      <div class="desc">Anatomy</div>
      
    </div>
    <div id="fix"></div>

    <hr>
    <h1>Faculty of Humanities</h1>
    <div class="gallery">
      <a  href="faculty/art">
        <img src="/images/Course/art.jpg" alt="CCT101" width="300" height="200">
      </a>
      <div class="desc">Art</div>
      
    </div>


    <div class="gallery">
      <a  href="faculty/sScience">
        <img src="/images/Course/social-science.png"" alt="Html" width="300" height="200">
      </a>
      <div class="desc">Social Sciences</div>
      
    </div>

    <div class="gallery">
      <a  href="faculty/media">
        <img src="/images/Course/media.jpg"" alt="Database" width="300" height="200">
      </a>
      <div class="desc">Media</div>
      
    </div>

    <div class="gallery">
      <a  href="faculty/education">
        <img src="/images/Course/edu.jpg"" alt="Database" width="300" height="200">
      </a>
      <div class="desc">Education</div>
      
    </div>
    <div id="fix"></div>

    <hr>

    <footer class="mainFooter">
      <p>
          Copyright &copy <a href="https://github.com/veronar">Verona</a>
          <a href="https://www.wethinkcode.co.za/">Kamo</a>
          <a href="https://www.wethinkcode.co.za/">Lebo</a>
          <a href="https://github.com/TafLaw">Taf</a>
          <a href="https://github.com/Sakhile-Msibi">Sakhile</a>
        </p>
    </footer>

    <script type="text/javascript">
	    document.title="Course";
    </script>
  </body>
</html>