<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image7">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Geo Science</h1>
          <p>start date : 20 june 2020</p>
          <hr>
          <p>modules : 5</p>
          <hr>
          <p>Earth science. Earth science or geoscience includes all fields of natural science related to the planet Earth</p>
          <form action="courseRegister" method="get">
            <input type="hidden" name="course" value="Physics">
            <input type="submit" value="Register">
          </form>          
        </div>
      </div>
      
    
</body>
</html>