<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image8">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Media</h1>
          <p>start date : 14 june 2020</p>
          <hr>
          <p>modules : 5</p>
          <hr>
          <p>Spanning film, TV, radio and print, the media industry's competitive and subject to almost ongoing change. Skilled journalists,
             reporters, editors and producers ensure the accuracy and quality of much of what is consumed as media</p>
             <form action="courseRegister" method="get">
              <input type="hidden" name="course" value="Physics">
              <input type="submit" value="Register">
            </form>          
        </div>
      </div>
      
    
</body>
</html>