<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image10">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Oral Health</h1>
          <p>start date : 12 june 2020</p>
          <hr>
          <p>modules : 5</p>
          <hr>
          <p>state of being free from chronic mouth and facial pain, oral and throat cancer, oral infection and sores, periodontal (gum) disease, tooth decay, 
            tooth loss, and other diseases and disorders that limit an individual's capacity in biting, chewing, smiling, speaking,</p>
            <form action="courseRegister" method="get">
              <input type="hidden" name="course" value="Physics">
              <input type="submit" value="Register">
            </form>          
        </div>
      </div>
      
    
</body>
</html>