<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/Courses.css">
    <title>Document</title>
</head>
<body>

    <div class="back-image12">
       
        <div class="hero-text">
          <h1 style="font-size:50px">Social science</h1>
          <p>start date : 16 june 2020</p>
          <hr>
          <p>modules : 6</p>
          <hr>
          <p>The study of human society and of individual relationships in and to society. A scholarly or scientific discipline that deals with such study,
             generally regarded as including sociology, psychology, anthropology, economics, political science, and history.</p>
          <form action="courseRegister" method="get">
            <input type="hidden" name="course" value="Physics">
            <input type="submit" value="Register">
          </form>
          
        </div>
      </div>
      
    
</body>
</html>